@import 'compass';
@import 'normalize';

@function em($pxval, $base: 16) {
  @return #{$pxval / $base}em;
}

body {
  background: #e9e9e9;
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

* {
  @include box-sizing(border-box);
}

.content {
  width: 100%;
  height: 100%;
}

.box {
  @include transition(all 300ms ease-in);
  background: #fff;
}

.box-login {
  @extend .box;
  width: em(320);
  text-align: center;
  margin: auto;
  display: none;
  padding: em(30);

  &:hover {
    border-color: #ff9999;

    .box-login-title {
      color: #666;
    }

    .box-login-content {
      color: #999;
    }
  }

  .box-login-title {
    @include transition(all 300ms ease-in);
    color: #999;
    margin: 0;
  }

  .box-login-content {
    @include transition(all 300ms ease-in);
    color: #ccc;
  }

  #signin-button {
    @include border-radius(5px);
    background: #ff2222;
    color: #fff;
    padding: em(10) em(15);
    cursor: pointer;
    margin-top: em(10);
    display: inline-block;
  }

  &.not-logged {
    display: block;
  }
}

.user {
  @extend .box;
  display: none;
  width: em(320);
  margin: auto;
  padding: 0;

  &.user-logged {
    display: block;
  }
}

.user-information {
  width: em(320);
  background: #d6614d;
  text-align: center;
  padding: em(20);

  .user-information-picture {
    @include box-shadow(#a73927 0px 1px 3px);
    @include border-radius(30px);
    background: #fff;
    padding: em(3);
    display: inline-block;
    overflow: hidden;
    margin-top: em(10);

    img {
      @include border-radius(30px);
      float: left;
    }
  }

  .user-information-name {
    @include text-shadow(#a73927 1px 1px 3px);
    color: #fff;
    margin: em(5) 0;
    font-size: em(25);
  }

  .user-information-city {
    @include text-shadow(#a73927 1px 1px 3px);
    color: #fabeb3;
    margin: em(5) 0;
    font-size: em(15);
  }
}

.user-search-people {

  .user-search-people-field {
    @include border-radius(5px);
    background: #cb5340;
    border: 0;
    color: #fff;
    padding: em(10) em(11);

    &::-webkit-input-placeholder {
      color: #fff;
      font-size: em(14);
    }
  }

  .user-search-people-submit {
    @include border-radius(5px);
    background: #fff;
    border: 0;
    color: #d6614d;
    padding: em(10) em(11);
  }

}