@import 'compass';
@import 'normalize';

@function em($pxval, $base: 16) {
  @return #{$pxval / $base}em;
}

html,
body {
  height: 100%;
}

body {
  background: #e9e9e9;
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

* {
  @include box-sizing(border-box);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-default {
  padding: em(10) em(20);
  background: #fff;
  color: #999;

  a {
    color: #666;
  }
}

.section-title {
  font-size: em(15);
  color: #999;
  margin: em(10) 0;
}

.content {
  width: 100%;
  height: 100%;
}

.box {
  @include transition(all 300ms ease-in);
  background: #fff;
}

.box-login {
  @extend .box;
  width: 100%;
  text-align: center;
  margin: auto;
  display: none;
  padding: em(30);

  &:hover {
    border-color: #ff9999;

    .box-login-title {
      color: #666;
    }

    .box-login-content {
      color: #999;
    }
  }

  .box-login-title {
    @include transition(all 300ms ease-in);
    color: #999;
    margin: 0;
  }

  .box-login-content {
    @include transition(all 300ms ease-in);
    color: #ccc;
  }

  #signin-button {
    @include border-radius(5px);
    background: #ff2222;
    color: #fff;
    padding: em(10) em(15);
    cursor: pointer;
  }

  &.not-logged {
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    height: 100%;
  }
}

.user {
  @extend .box;
  display: none;
  width: 100%;
  margin: auto;
  padding: 0;

  &.user-logged {
    display: block;
  }
}

.user-information {
  width: 100%;
  background: #d6614d;
  text-align: center;
  padding: em(20);

  .user-information-picture {
    @include box-shadow(#a73927 0px 1px 3px);
    @include border-radius(30px);
    background: #fff;
    padding: em(3);
    display: inline-block;
    overflow: hidden;
    margin-top: em(10);

    img {
      @include border-radius(30px);
      float: left;
    }
  }

  .user-information-name {
    @include text-shadow(#a73927 1px 1px 3px);
    color: #fff;
    margin: em(5) 0;
    font-size: em(25);
  }

  .user-information-city {
    @include text-shadow(#a73927 1px 1px 3px);
    color: #fabeb3;
    margin: em(5) 0;
    font-size: em(20);
  }
}

.user-search-people {

  .user-search-people-field {
    @include transition(all 300ms linear);
    @include border-radius(5px);
    background: #cb5340;
    border: 0;
    color: #fff;
    padding: em(10) em(11);

    &::-webkit-input-placeholder {
      color: #fff;
      font-size: em(14);
    }

    &:focus {
      background: #e06d5b;
      outline: none;
    }
  }

  .user-search-people-submit {
    @include transition(all 300ms linear);
    @include border-radius(5px);
    background: #fff;
    border: 0;
    color: #d6614d;
    padding: em(10) em(11);

    &:hover {
      background: #e9e9e9;
    }
  }

}

.user-friends {
  @extend .section-default;

  .user-friends-title {
    @extend .section-title;
  }

  .user-friends-list {
    li {
      display: inline-block;

      figure {
        img {
          @include border-radius(3px);
        }
        figcaption { display: none; }
      }
    }
  }
}

.user-search-people-result {
  @extend .section-default;

  .user-search-people-result-title { @extend .section-title; }

  .user-search-people-result-list {
    li {
      display: inline-block;

      figure {
        img {
          @include border-radius(3px);
        }
        figcaption { display: none; }
      }
    }
  }
}

.user-pages {
  @extend .section-default;

  .user-pages-title { @extend .section-title; }

  .user-pages-list {
    li {
      display: inline-block;

      figure {
        img {
          @include border-radius(3px);
        }
        figcaption { display: none; }
      }
    }
  }
}

.share {
  @extend .section-default;
  display: none;

  .share-title { @extend .section-title; }

  #share-button {
    @include border-radius(5px);
    background: #ff0000;
    color: #fff;
    padding: em(10) em(15);
    text-decoration: none;
    cursor: pointer;
    margin-top: em(5);
    display: inline-block;
    border: 0;
  }

  &.user-logged {
    display: block;
  }
}

.user-activities {
  @extend .section-default;

  .user-activities-title { @extend .section-title; }

  .user-activities-list {
    li {
      @include border-radius(5px);
      border: 1px solid #e9e9e9;
      padding: em(20);
      margin-bottom: em(20);

      h1 {
        margin: 0;
        width: 100%;
        font-size: em(18);
        color: #d6614d;
        font-weight: normal;

        a {
          font-size: em(11);
          display: inline-block;
        }
      }

      figure {
        padding-top: em(10);
        border-top: 1px solid #e9e9e9;
        margin-top: em(10);
        overflow: hidden;

        img {
          @include border-radius(3px);
          float: left;
          margin-right: em(10);
          max-width: 100%;
          width: em(100);
          height: em(100);
        }
      }
    }
  }
}

.meta {
  display: none;
}