<div class="content">
  <section class="box-login">
    <h1 class="box-login-title">Welcome to Social +</h1>
    <p class="box-login-content">Make the your login below:</p>
    <p>
      <span id="signin-button" class="customGPlusSignIn">Sign In</span>
    </p>
  </section>

  <section class="user">
    <div class="user-information"></div>
    <div class="user-search-people-result"></div>
    <div class="user-friends"></div>
    <div class="user-pages"></div>
    <div class="user-app-activity">
      <h1>See below your activity in the app:</h1>
      <p>activitys</p>
    </div>
  </section>
  <div class="share-content" itemscope itemtype="http://schema.org/Thing">
    <section>Name: <div itemprop="name">The Google+ Platform</div></section>
    <section>Description: <div itemprop="description">Google+ is more than just
      plus.google.com. It's about adding people to all Google products. The
      Google+ platform extends this idea, allowing you to add people to your
      products too.</div></section>
    <section>
      Thumbnail: <img itemprop="image" src="thing.png"/>
    </section>
  </div>
</div>