<div class="content">
  <section class="box-login">
    <h1 class="box-login-title">Welcome to Social +</h1>
    <p class="box-login-content">Make the your login below:</p>
    <p>
      <span id="signin-button" class="customGPlusSignIn">Sign In</span>
    </p>
  </section>

  <section class="user">
    <div class="user-information"></div>
    <div class="user-search-people">
      <h1>Search people in G+:</h1>
      <p>
        <input type="search" class="user-search-people-field">
        <button class="user-search-people-submit">Search</button>
      </p>
      <p class="user-search-people-result"></p>
    </div>
    <div class="user-friends"></div>
    <div class="user-pages"></div>
    <div class="user-app-activity">
      <h1>See below your activity in the app:</h1>
      <p>activitys</p>
    </div>
  </section>
</div>