<div class="content">
  <section class="box-login">
    <h1 class="box-login-title">Welcome to Social +</h1>
    <p class="box-login-content">Make the your login below:</p>
    <p>
      <span id="signin-button" class="customGPlusSignIn">Sign In</span>
    </p>
  </section>

  <section class="user">
    <div class="user-information"></div>
    <div class="user-search-people-result"></div>
    <div class="user-friends"></div>
    <div class="user-pages"></div>
  </section>

  <section class="share">
    <h1 class="share-title">Share this page:</h1>
  </section>
  <div class="share-content" itemscope itemtype="http://schema.org/Thing">
    <section>Name: <div itemprop="name">Social +</div></section>
    <section>Description: <div itemprop="description">Social + is the small version of Google Plus.</div></section>
    <section>
      Thumbnail: <img itemprop="image" src="http://oglobo.globo.com/in/3556969-bc2-849/FT500A/06-icone-google-plus.png"/>
    </section>
  </div>
</div>