<div class="content">
  <section class="box-login">
    <h1 class="box-login-title">Welcome to Social +</h1>
    <p class="box-login-content">Make the your login below:</p>
    <p>
      <span id="signin-button" class="customGPlusSignIn">Sign In</span>
    </p>
  </section>

  <section class="user">
    <div class="user-information"></div>
    <div class="user-search-people-result"></div>
    <div class="user-friends"></div>
    <div class="user-pages"></div>
    <div class="user-activities"></div>
  </section>

  <section class="share">
    <h1 class="share-title">Share on G+:</h1>
    <span id="share-button" class="demo g-interactivepost"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-clientid="850481970795.apps.googleusercontent.com"
        data-contenturl="http://signinplus.heroku.com"
        data-calltoactionlabel="INVITE"
        data-calltoactionurl="https://developers.google.com/+/web/share/interactive?invite=true"
        data-cookiepolicy="single_host_origin"
        data-prefilltext="Explore features of Google +">
      <span class="label">Post in your wall</span>
    </span>
  </section>
</div>